---
title: Dadess - Dades d'Economia Social i Solidària
layout: default
bodyClass: page-home
lang: ca
---

<div class="intro pb-4">
  <div class="container">
    <h1>{{ site.data.landing.title }}</h1>
    <p>{{ site.data.landing.description }}</p>
  </div>
</div>

<div class="container">
  <div class"row">
    <div class="col-md-8">
      <form class="call" action="https://open.dadess.cat/dataset">
        <div class="call-box-top">
          <input type="text" placeholder="alimentació" name="q">
        </div>
        <div class="call-box-bottom">
          <button type="submit" class="button">{{ site.data.landing.search }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">{{ site.data.landing.services }}</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 200 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">{{ site.data.landing.all_services }}</a>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">{{ site.data.landing.projects }}</h2>
    </div>
    {% for project in site.data.projects %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="row">
            <a href="{{site.baseurl}}/projects">
              <img src="{{ project.image }}" alt="{{ project.ref }}" width="100%">
            </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/projects">{{ site.data.landing.all_projects }}</a>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">{{ site.data.landing.community_projects }}</h2>
    </div>
    {% for project in site.community_projects %}
    <div class="col-12 col-md-4">
      <div class="service service-summary">
        <div class="row">
          <h2>
            <a href="{{site.baseurl}}{{project.link}}"> {{ project.title[page.lang] }} </a>
          </h2>
          <a href="{{site.baseurl}}{{project.link}}">
            <img src="{{ project.image }}" alt="{{ project.ref }}" width="100%">
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/community_projects">{{ site.data.landing.all_community_projects }}</a>
    </div>
  </div>
</div>

<br/>
<br/>

<div class="container pt-2">
  <div class="row">
    <div class="community col-md mb-1">
        <div class="row">
          <h2 class="title-3"> {{ site.signup.title[page.lang] }} </h2>
          <p> {{ site.signup.call[page.lang] }} </p>
        </div>
      <form class="call" action="https://dadess.us18.list-manage.com/subscribe/post?u=4ddff94f9cd51d97df883f3ce&amp;id=c0cd3bb4b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="call-box-top">
          <input type="email" name="EMAIL" value="" id="mce-EMAIL" placeholder="{{site.signup.placeholder[page.lang]}}" required>
          <!-- signup for bots -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4ddff94f9cd51d97df883f3ce_c0cd3bb4b3" tabindex="-1" value=""></div>
        </div>
        <div class="call-box-bottom">
          <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> {{ site.signup.subscribe[page.lang] }} </button>
        </div>
      </form>
    </div>
      <div class="community col-md mb-1">
        <div class="row">
          <h2 class="title-3"> {{ site.contribute.title[page.lang] }} </h2>
          <p> {{ site.contribute.call[page.lang] }} </p>
        </div>
        <div class="text-center">
          <a class="button button-primary mt-2" href="https://community.coopdevs.org/c/dadess/">{{ site.contribute.button[page.lang] }}</a>
        </div>

      </div>
  </div>
</div>

</br>
</br>
