---
title: Team
layout: default
bodyClass: page-team-list
lang: ca
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ site.team_page.title[page.lang] }}</h1>
        <p>{{ site.team_page.call[page.lang] }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row justify-content-center">
    {% for team in site.team %}
    {% if team.collaborator != true %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          {% if team.linkedinurl %}
          <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a> 
          {% endif %}
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container pb-6">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ site.team_page.collaborators[page.lang] }}</h1>
        <p>{{ site.team_page.col_call[page.lang] }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row justify-content-center">
    {% for team in site.team %}
    {% if team.collaborator == true %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          {% if team.linkedinurl %}
          <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a> 
          {% endif %}
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container pb-6">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ site.team_page.organizers[page.lang] }}</h1>
        <p>{{ site.team_page.org_call[page.lang] }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for organizer in site.organizers %}
    <div class="col-12 col-md-4 mb-1">
      <div class="team team-summary">
        {% if organizer.image %}
        <div class="team-image">
          <a target="_blank" href="{{ organizer.link }}">
            <img
            alt="{{ organizer.name }} logo"
            class="img-fluid mb-1"
            style="display:block; margin-left:auto; margin-right:auto; height:150px; width:150px"
            src="{{site.baseurl}}{{ organizer.image }}"
            />
          </a>
          <!-- <h2 class="team-name">
            <a target="_blank" href="{{ organizer.link }}"> {{ organizer.name }} </a>
          </h2> -->
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

