<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/services/" class="{% if page.url contains 'services' %}current{% endif %}">{{ site.header['services'][page.lang] }}</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">{{ site.header['team'][page.lang] }}</a></li>
    <li><a href="{{site.baseurl}}/projects/" class="{% if page.url contains 'testimonials' %}current{% endif %}">{{ site.header['projects'][page.lang] }}</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">{{ site.header['contact'][page.lang] }}</a></li>
  </ul>
</div>
