.page-services-list {
  background-image: url('../images/dadess.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 30% 50px;
  @include media-breakpoint-up(sm) {
    background-size: 40%;
    background-position: 90% 70px;
  }
  @include media-breakpoint-up(md) {
    background-size: 35%;
    background-position: 90% 60px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 25%;
    background-position: 90% 50px;
  }
}
